}
.awardwrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
	/*border: 5px solid black;*/


}

.awardbox {
	margin-top: 50px;
	margin-left: 10%;
	margin-bottom: 50px;
	margin-right: 10%;
	padding: 10px;
	border: 10px solid black;
	height: 400px;
	width: 80%;
	flex-direction: column;
	border: 5px solid black;
	text-align: center;
	color: yellow;
}
